:host {
  .iframe-container {
    position: relative;
    margin-right: 8px;
    min-height: calc(100vh - 9rem);

    &.menu-headers-open {
      min-height: calc(100vh - 22rem);
    }

    &.full-width {
      margin-left: -1.6667rem;
      margin-right: 0px;
    }

    &.auto-height {
      height: calc(100vh - 9rem);

      &.menu-headers-open {
        height: calc(100vh - 22rem);
      }
    }
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 2em;
    opacity: 0.9;
    z-index: 10;
  }

  iframe {
    height: 100%;
    width: 100%;
    border: none;
  }
}
